* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(img/bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.header-nav {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
}

#logo {
    width: 96px;
    height: 96px;
}

#logo-text {
    width: 200px;
}

.logos {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 80px 0 0 60px;
}

.navigation {
    width: 100%;
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    
}

.nav-links li {
    display: inline-block;
    list-style: none;
    margin: 0 10px;
}

.nav-links a {
    font-size: 25px;
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 700;
    transition: 0.3s;
    padding: 8px 12px;
    border-radius: 10px;
}

.nav-links a:hover {
    color: #ff6f61;
    background-color: rgba(0, 0, 0, 0.5);
}

.msj {
    color: #fff;
    font-size: 28px;
    text-align: center;
    font-family: 'Zing Rust';
    font-weight: 600;
    text-shadow: 2px 2px 4px #000;
    word-wrap: normal;
    max-width: 580px;
    width: 60%;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}